 body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #2c2c2c;
    color:rgb(255, 255, 255)
 }

 .header {
    text-align: center;
    margin-bottom: 30px;
 }

.profile {
    width:180px;
    border-radius: 50%;
}

.highlight {
    color:rgb(255, 164, 61)
}

.section {
    background-color: rgb(85, 85, 85);
    padding: 20 px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
        border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ff933b;
    color: white;
}

a {
    color:aqua;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: gray;
}